@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.DropDowns;

@using CBT.Web.Blazor;
@using CBT.Web.Blazor.Data;
@using CBT.Web.Blazor.Data.Model;
@using CBT.Web.Blazor.Services;

@inject AutomaticThoughtsService AutomaticThoughtsService

<SfDialog Width="500px" IsModal="true" @bind-Visible="@IsVisible" ShowCloseIcon="true" ID="ThoughtReview">
    <DialogTemplates>
        <Header>
            @(Model.Length == 1 ? "Комментарий психолога" : "Комментарии психологов")
        </Header>
        <Content>
            @foreach (var model in Model)
            {
                <div class="alert alert-secondary mt-4">
                    <div class="mb-4">
                        <label class="form-label fw-bold">Психолог:</label>
                        <br/>
                        @model.PsychologistDisplayName
                    </div>
                    <div class="mb-4">
                        <label class="form-label fw-bold">Комментарий:</label> <span class="oi oi-shield"></span>
                        <br />
                        @model.RationalAnswerComment
                    </div>
                    <div class="mb-4">
                        <label class="form-label fw-bold">Когнитивные искажения:</label><br />
                        @{
                            var errors = model.ReviewedErrors;

                            foreach (var error in errors)
                            {
                                <span>@CognitiveErrors[error].Title</span>
                                <br />
                            }
                        }
                    </div>
                </div>
            }
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Закрыть" IsPrimary="true" CssClass="btn btn-success"
                      OnClick="CloseBtnClick" />
    </DialogButtons>
</SfDialog>

@code {
    [Parameter]
    public Dictionary<int, CognitiveErrorModel> CognitiveErrors { get; set; }

    public RecordReviewModel[] Model { get; set; }

    public bool IsVisible { get; set; } = false;

    private void CloseBtnClick()
    {
        IsVisible = false;
    }
}