@page "/diary/three-columns"

@using Microsoft.AspNetCore.Identity;

@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Grids;

@using CBT.Web.Blazor.Data
@using CBT.Web.Blazor.Data.Identity;
@using CBT.Web.Blazor.Data.Model;
@using CBT.Web.Blazor.Services;

@inject AutomaticThoughtsService AutomaticThoughtsService
@inject CognitiveErrorsService CognitiveErrorsService;
@inject SfDialogService SfDialogService;
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject UserManager<User> UserManager;

@inject IJSRuntime jsRuntime;

<PageTitle>Псионик - Техника трёх колонок</PageTitle>

<h1>Техника трёх колонок</h1>

<div class="alert alert-secondary mt-4">
    Используйте технику трёх колонок каждый раз, когда у Вас портится настроение или возникает тревога.<br/>
    @{
        if (!ReadOnly)
        {
            <NavLink class="nav-link" href="diary/three-columns/example">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  Примеры проработок "Техники трех колонок"
            </NavLink>
            <NavLink class="nav-link" href="diary/three-columns/report">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>  Мой отчет когнитивных ошибок
            </NavLink>
        }
        else
        {
            <NavLink class="nav-link" href="diary/three-columns/report/example">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>  Пример отчета когнитивных ошибок
            </NavLink>
        }
    }
</div>

@if (cognitiveErrors == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <div class="alert alert-secondary mt-4">
        Всего @(items.Count) записей.
        <SfButton IconCss="oi oi-plus" Content="Добавить" IsPrimary="true" @onclick="AddBtnClick" CssClass="@(!ReadOnly? "" : "hidden")" />
    </div>
    @code {
    private string? activeBreakpoint;
    private RowDirection rowDirection;
    }
    <SfMediaQuery @bind-ActiveBreakpoint="activeBreakpoint"></SfMediaQuery>
    @if (activeBreakpoint == "Medium" || activeBreakpoint == "Small")
    {
        rowDirection = RowDirection.Vertical;
    }
    else
    {
        rowDirection = RowDirection.Horizontal;
    }
    <SfGrid @ref="DataGrid" EnableAdaptiveUI="true" AdaptiveUIMode="AdaptiveMode.Both" RowRenderingMode="@rowDirection" Height="100%" Width="100%" DataSource="items" AllowTextWrap="true">
        <GridColumns>
            <GridColumn 
                Visible="!ReadOnly"
                HeaderText="" 
                Width="100">
                <Template>
                    @{
                        var model = (ThreeColumnsTechniqueRecordModel)context;
                        if (!model.Sent)
                        {
                            <button class="btn btn-success" @onclick="@(async () => await SendBtnClick(model.Id))">
                                Психологу
                            </button>
                        }
                        else
                        {
                            <text>
                                <i class="oi oi-circle-check" style="color: blue;" /> Отправлено!
                            </text>
                            if (reviewExists.TryGetValue(model.Id, out var exists) && !exists)
                            {
                                <text>
                                    <br />
                                    <i class="oi oi-circle-check" style="color: red;" /> Недоступно!
                                </text>
                            }
                            else
                            {
                                <button class="btn btn-primary" @onclick="@(async () => await CheckReviewBtnClick(model.Id))">
                                    Проверить
                                </button>
                            }
                        }
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(ThreeColumnsTechniqueRecordModel.Thought)"
                        HeaderText="Автоматическая мысль"
                        Width="100" />
            <GridColumn Field="@nameof(ThreeColumnsTechniqueRecordModel.Errors)"
                        HeaderText="Когнитивные искажения"
                        Width="100">
                <Template>
                    @{
                        var errors = ((ThreeColumnsTechniqueRecordModel)context).Errors;
                        foreach (var error in errors)
                        {
                            <span>@cognitiveErrors[(int)error].Title</span>
                            <br />
                        }
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(ThreeColumnsTechniqueRecordModel.RationalAnswer)"
                        HeaderText="Рациональный ответ"
                        Width="100" />
            <GridColumn Visible="!ReadOnly" Field="@nameof(ThreeColumnsTechniqueRecordModel.Id)"
                        HeaderText=""
                        Width="100">
                <Template>
                    @{
                        var id = ((ThreeColumnsTechniqueRecordModel)context).Id;

                        <button class="btn btn-danger" @onclick="@(async () => await DeleteBtnClick(id))">
                            <i class="oi oi-trash" /> Удалить
                        </button>
                        <button class="btn btn-success" @onclick="@(async () => await EditBtnClick(id))">
                            <i class="oi oi-pencil" /> Изменить
                        </button>
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>

    <ThreeColumnsTechniqueEdit @ref="EditableThought" CognitiveErrors="cognitiveErrors">
    </ThreeColumnsTechniqueEdit>

    <ThoughtReviewPopup @ref="ThoughtReview" CognitiveErrors="cognitiveErrors">
    </ThoughtReviewPopup>
}

@code {
    SfGrid<ThreeColumnsTechniqueRecordModel> DataGrid;

    ThreeColumnsTechniqueEdit EditableThought;
    ThoughtReviewPopup ThoughtReview;

    private List<ThreeColumnsTechniqueRecordModel> items;
    private Dictionary<int, CognitiveErrorModel> cognitiveErrors;

    private string? currentUserId;

    private Dictionary<int, bool> reviewExists;

    protected override async Task OnInitializedAsync()
    {
        currentUserId = await GetCurrentUserId();

        await InitShowButtons();

        items = await AutomaticThoughtsService.GetAllThoughts(currentUserId);
        cognitiveErrors = CognitiveErrorsService.GetAllCognitiveErrors();

        reviewExists = new Dictionary<int, bool>();
    }

    public void AddBtnClick()
    {
        if (EditableThought.IsEdit == true)
        {
            EditableThought.Model = new ThreeColumnsTechniqueRecordModel();
        }

        EditableThought.IsEdit = false;
        EditableThought.IsVisible = true;
        EditableThought.SuccessCallback = async () => await Refresh();
    }

    public async Task DeleteBtnClick(int id)
    {
        var confirmed = await SfDialogService.ConfirmAsync("Вы действительно хотите удалить запись?", "Подтверждение действия", new()
            {
                ShowCloseIcon = true,
                PrimaryButtonOptions = new()
                {
                    IconCss = "oi oi-trash"
                },
                CancelButtonOptions = new()
                {
                    Content = "Отмена",
                }
            });

        if (confirmed)
        {
            await AutomaticThoughtsService.DeleteThought(id);
            await Refresh();
        }
    }

    public async Task EditBtnClick(int id)
    {
        var model = await AutomaticThoughtsService.GetThought(id);
        if (model != null)
        {
            EditableThought.Model = model;
            EditableThought.IsEdit = true;
            EditableThought.IsVisible = true;
            EditableThought.SuccessCallback = async () => await Refresh();
        }
    }

    public async Task SendBtnClick(int id)
    {
        await AutomaticThoughtsService.SendThoughtToPsychologist(id);

        items.First(x => x.Id == id).Sent = true;
    }

    public async Task CheckReviewBtnClick(int id)
    {
        var review = await AutomaticThoughtsService.GetPsychologistReview(id);
        if (review != null)
        {
            ThoughtReview.Model = review;
            ThoughtReview.IsVisible = true;
            reviewExists[id] = true;
        }
        else
        {
            reviewExists[id] = false;
        }
    }

    private async Task Refresh()
    {
        var currentUserId = await GetCurrentUserId();

        items = await AutomaticThoughtsService.GetAllThoughts(currentUserId);

        await InvokeAsync(StateHasChanged);
        await DataGrid.Refresh();
    }

    protected virtual async Task<string?> GetCurrentUserId()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var currentUserId = UserManager.GetUserId(user);

        return currentUserId;
    }

    protected virtual bool ReadOnly => _readOnly;

    private bool _readOnly;

    private async Task<bool> InitShowButtons() => _readOnly = await GetCurrentUserId() == null;
}
