@using Microsoft.AspNetCore.Identity;

@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Grids;

@inject DiariesFacade DiariesFacade;
@inject SfDialogService SfDialogService;
@inject BaseAuthenticationStateProvider GetAuthenticationStateAsync
@inject UserManager<User> UserManager;

<PageTitle>Псионик - Мои задачи</PageTitle>

<h1>Дневник антипрокрастинации</h1>

<div class="alert alert-secondary mt-4">
    Приветствую тебя на странице дневника антипрокрастинации. Здесь ты можешь добавлять новые задачи в список,
    изменять статус и отслеживать прогресс выполнения. Это важная часть,
    поскольку именно сделанные дела являются доказательством того, что твое поведение меняется. А значит, меняешься и ты!
    Рекомендую создавать задачи на основе записей из дневников:
    <ul>
        <li>
            <a href="/diary/three-columns">Техника трёх колонок</a>
        </li>
        <li>
            <a href="/diary/automatic-thoughts">Дневник автоматических мыслей</a>
        </li>
    </ul>
    <br />
    @{
        if (!ReadOnly)
        {
            <NavLink class="nav-link" href="diary/anti-procrastination/example">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  Примеры проработок "Дневника антипрокрастинации"
            </NavLink>
            <NavLink class="nav-link" href="diary/anti-procrastination/report">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>  Мой отчет эффективности
            </NavLink>
        }
        else
        {
            <NavLink class="nav-link" href="diary/anti-procrastination/report/example">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>  Пример отчета эффективности
            </NavLink>
        }
    }
</div>

@if (items == null)
{
    <Loading Visible="true" />
}
else
{
    <div class="alert alert-secondary mt-4">
        Всего @(items.Count) записей.
        <SfButton IconCss="oi oi-plus" Content="Добавить" IsPrimary="true" @onclick="async () => await AddBtnClick()" CssClass="@(!ReadOnly? "" : "hidden")" />
    </div>
    @code {
    private string? activeBreakpoint;
    private RowDirection rowDirection;
    }
    <SfMediaQuery @bind-ActiveBreakpoint="activeBreakpoint"></SfMediaQuery>
    @if (activeBreakpoint == "Medium" || activeBreakpoint == "Small")
    {
        rowDirection = RowDirection.Vertical;
    }
    else
    {
        rowDirection = RowDirection.Horizontal;
    }
    <SfGrid @ref="DataGrid"
            EnableAdaptiveUI="true"
            AdaptiveUIMode="AdaptiveMode.Both"
            RowRenderingMode="@rowDirection"
            Height="100%"
            Width="100%"
            DataSource="items"
            AllowTextWrap="true"
            AllowPaging="true"
            AllowSorting="true"
            AllowFiltering="true">
        <GridPageSettings PageSize="25"></GridPageSettings>
        <GridFilterSettings Type="FilterType.Excel"></GridFilterSettings>
        <GridColumns>
            <GridColumn Field="@nameof(AntiProcrastinationDiaryRecordModel.PlanDate)"
                        HeaderText="Дата"
                        AllowFiltering="true"
                        AllowSorting="false" />
            <GridColumn Field="@nameof(AntiProcrastinationDiaryRecordModel.Task)"
                        HeaderText="Задание"
                        AllowFiltering="true"
                        AllowSorting="false">
            </GridColumn>
            <GridColumn Field="@nameof(AntiProcrastinationDiaryRecordModel.SupposedEffort)"
                        HeaderText="Предполагаемая трудность"
                        AllowFiltering="true"
                        AllowSorting="true" />
            <GridColumn Field="@nameof(AntiProcrastinationDiaryRecordModel.SupposedPleasure)"
                        HeaderText="Предполагаемое удовольствие"
                        AllowFiltering="true"
                        AllowSorting="true">
            </GridColumn>
            <GridColumn Field="@nameof(AntiProcrastinationDiaryRecordModel.ActualEffort)"
                        HeaderText="Действительная трудность"
                        AllowFiltering="true"
                        AllowSorting="true" />
            <GridColumn Field="@nameof(AntiProcrastinationDiaryRecordModel.ActualPleasure)"
                        HeaderText="Действительное удовольствие"
                        AllowFiltering="true"
                        AllowSorting="true">
            </GridColumn>
            <GridColumn Visible="!ReadOnly"
                        Field="@nameof(AntiProcrastinationDiaryRecordModel.Id)"
                        HeaderText=""
                        AllowFiltering="true"
                        AllowSorting="true">
                <Template>
                    @{
                        var id = ((AntiProcrastinationDiaryRecordModel)context).Id;

                        <button class="btn btn-danger" @onclick="@(async () => await DeleteBtnClick(id))">
                            <i class="oi oi-trash" /> Удалить
                        </button>
                        <button class="btn btn-success" @onclick="@(async () => await EditBtnClick(id))">
                            <i class="oi oi-pencil" /> Изменить
                        </button>
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>

    <AntiProcrastinationDiaryEditComponent @ref="EditableRecord">
    </AntiProcrastinationDiaryEditComponent>
}

@code {
    Loading Loader;
    SfGrid<AntiProcrastinationDiaryRecordModel> DataGrid;
    AntiProcrastinationDiaryEditComponent EditableRecord;

    private List<AntiProcrastinationDiaryRecordModel> items;

    protected override async Task OnInitializedAsync()
    {
        var currentUserId = await GetCurrentUserId();

        await InitShowButtons();

        items = await DiariesFacade.GetAllAntiprocrastinationRecords(currentUserId);
    }

    #region Event Handlers

    public async Task AddBtnClick()
    {
        await using var usage = new LoadingUsage(Loader);
        await usage.StartAsync();

        EditableRecord.Model = new AntiProcrastinationDiaryRecordModel();
        EditableRecord.IsEdit = false;
        EditableRecord.IsVisible = true;
        EditableRecord.SuccessCallback = async () => await Refresh();
    }

    public async Task DeleteBtnClick(int id)
    {
        await using var usage = new LoadingUsage(Loader);
        await usage.StartAsync();

        var confirmed = await SfDialogService.ConfirmAsync("Вы действительно хотите удалить запись?", "Подтверждение действия", new()
            {
                ShowCloseIcon = true,
                PrimaryButtonOptions = new()
                {
                    IconCss = "oi oi-trash"
                },
                CancelButtonOptions = new()
                {
                    Content = "Отмена",
                }
            });

        if (confirmed)
        {
            await DiariesFacade.DeleteThought(id);
            await Refresh();
        }
    }

    public async Task EditBtnClick(int id)
    {
        await using var usage = new LoadingUsage(Loader);
        await usage.StartAsync();

        var model = await DiariesFacade.GetAntiprocrastinationRecord(id);
        if (model != null)
        {
            EditableRecord.Model = model;
            EditableRecord.IsEdit = true;
            EditableRecord.IsVisible = true;
            EditableRecord.SuccessCallback = async () => await Refresh();
        }
    }

    private async Task Refresh()
    {
        await using var usage = new LoadingUsage(Loader);
        await usage.StartAsync();

        var currentUserId = await GetCurrentUserId();

        items = await DiariesFacade.GetAllAntiprocrastinationRecords(currentUserId);

        await InvokeAsync(StateHasChanged);
        await DataGrid.Refresh();
    }

    #endregion

    protected virtual async Task<string?> GetCurrentUserId()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var currentUserId = UserManager.GetUserId(user);

        return currentUserId;
    }

    protected virtual bool ReadOnly => _readOnly;

    private bool _readOnly;

    private async Task<bool> InitShowButtons() => _readOnly = await GetCurrentUserId() == null;
}