@using Microsoft.AspNetCore.Identity;

@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Grids;

@inject DiariesFacade AutomaticThoughtsService;
@inject CognitiveErrorsFacade CognitiveErrorsService;
@inject EmotionsFacade EmotionsService;

@inject SfDialogService SfDialogService;
@inject BaseAuthenticationStateProvider GetAuthenticationStateAsync
@inject UserManager<User> UserManager;

<PageTitle>Псионик - Дневник автоматических мыслей</PageTitle>

<h1>Дневник автоматических мыслей</h1>

<div class="alert alert-secondary mt-4">
    Дневник автоматических мыслей, также известный как дневник Аарона Бека, 
    можно заполнять каждый раз, когда у Вас портится настроение или возникает тревога.
    Обязательно записывайте мысль и фиксируйте эмоции, которые она у Вас вызывает.
    Позже вы можете написать рациональный ответ и зафиксировать уровень эмоций. 
    Обычно негативные эмоции ослабляются либо исчезают.
    <br />
    @{
        if (!ReadOnly)
        {
            <NavLink class="nav-link" href="diary/automatic-thoughts/example">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  Примеры проработок "Дневника автоматических мыслей"
            </NavLink>
            <NavLink class="nav-link" href="diary/automatic-thoughts/report">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>  Мой отчет когнитивных ошибок и эмоций
            </NavLink>
        }
        else
        {
            <NavLink class="nav-link" href="diary/automatic-thoughts/report/example">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>  Пример отчета когнитивных ошибок и эмоций
            </NavLink>
        }
    }
</div>

@if (cognitiveErrors == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <div class="alert alert-secondary mt-4">
        Всего @(items.Count) записей.
        <SfButton IconCss="oi oi-plus" Content="Добавить" IsPrimary="true" @onclick="AddBtnClick" CssClass="@(!ReadOnly? "" : "hidden")" />
    </div>
    @code{
        private string? activeBreakpoint;
        private RowDirection rowDirection;
    }
    <SfMediaQuery @bind-ActiveBreakpoint="activeBreakpoint"></SfMediaQuery>
    @if (activeBreakpoint == "Medium" || activeBreakpoint == "Small")
    {
        rowDirection = RowDirection.Vertical;
    }
    else
    {
        rowDirection = RowDirection.Horizontal;
    }
    <SfGrid @ref="DataGrid" 
            EnableAdaptiveUI="true" 
            AdaptiveUIMode="AdaptiveMode.Both" 
            RowRenderingMode="@rowDirection" 
            Height="100%" 
            Width="100%" 
            DataSource="items" 
            AllowTextWrap="true" 
            AllowPaging="true"
            AllowSorting="true"
            AllowFiltering="true">
        <GridPageSettings PageSize="25"></GridPageSettings>
        <GridFilterSettings Type="FilterType.Excel"></GridFilterSettings>
        <GridColumns>
            <GridColumn 
                Visible="!ReadOnly" 
                HeaderText=""
                AllowFiltering="false"
                AllowSorting="false">
                <Template>
                    @{
                        var model = (AutomaticThoughtDiaryRecordModel)context;
                        if (!model.Sent)
                        {
                            <button class="btn btn-success" @onclick="@(async () => await SendBtnClick(model.Id))">
                                Психологу
                            </button>
                        }
                        else
                        {
                            <text>
                                <i class="oi oi-circle-check" style="color: blue;" /> Отправлено!
                            </text>
                            if (reviewExists.TryGetValue(model.Id, out var exists) && !exists)
                            {
                                <text>
                                    <br/>
                                    <i class="oi oi-circle-check" style="color: red;" /> В обработке!
                                </text>
                            }
                            else
                            {
                                <button class="btn btn-primary" @onclick="@(async () => await CheckReviewBtnClick(model.Id))">
                                    Проверить
                                </button>
                            }
                        }
                    }
                </Template>
            </GridColumn>
            <GridColumn 
                Field="@nameof(AutomaticThoughtDiaryRecordModel.Situation)"
                HeaderText="Ситуация"
                AllowFiltering="true"
                AllowSorting="false" />
            <GridColumn 
                Field="@nameof(AutomaticThoughtDiaryRecordModel.BeginningEmotionValues)"
                HeaderText="Эмоции"
                AllowFiltering="false"
                AllowSorting="false">
                <Template>
                    @{
                        var recordEmotions = ((AutomaticThoughtDiaryRecordModel)context).BeginningEmotionValues;
                        foreach (var emotion in recordEmotions)
                        {
                            <span>@emotions[emotion.Key] - @(emotion.Value)%</span>
                            <br />
                        }
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(AutomaticThoughtDiaryRecordModel.Thought)"
                HeaderText="Автоматическая мысль"
                AllowFiltering="true"
                AllowSorting="false"/>
            <GridColumn Field="@nameof(AutomaticThoughtDiaryRecordModel.Errors)"
                HeaderText="Когнитивные искажения"
                AllowFiltering="false"
                AllowSorting="false">
                <Template>
                    @{
                        var errors = ((AutomaticThoughtDiaryRecordModel)context).Errors;
                        foreach (var error in errors)
                        {
                            <span>@cognitiveErrors[(int)error].Title</span>
                            <br />
                        }
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(AutomaticThoughtDiaryRecordModel.RationalAnswer)"
                HeaderText="Рациональный ответ"
                AllowFiltering="true"
                AllowSorting="false"/>
            <GridColumn Field="@nameof(AutomaticThoughtDiaryRecordModel.ResultingEmotionValues)"
                HeaderText="Результат"
                AllowFiltering="false"
                AllowSorting="false">
                <Template>
                    @{
                        var recordEmotions = ((AutomaticThoughtDiaryRecordModel)context).ResultingEmotionValues;
                        foreach (var emotion in recordEmotions)
                        {
                            <span>@emotions[emotion.Key] - @(emotion.Value)%</span>
                            <br />
                        }
                    }
                </Template>
            </GridColumn>
            <GridColumn 
                Visible="!ReadOnly" 
                Field="@nameof(AutomaticThoughtDiaryRecordModel.Id)"
                HeaderText=""
                AllowFiltering="true"
                AllowSorting="true">
                <Template>
                    @{
                        var id = ((AutomaticThoughtDiaryRecordModel)context).Id;

                        <button class="btn btn-danger" @onclick="@(async () => await DeleteBtnClick(id))">
                            <i class="oi oi-trash" /> Удалить
                        </button>
                        <button class="btn btn-success" @onclick="@(async () => await EditBtnClick(id))">
                            <i class="oi oi-pencil" /> Изменить
                        </button>
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>

    <AutomaticThoughtDiaryEditComponent @ref="EditableThought" CognitiveErrors="cognitiveErrors" Emotions="emotions">
    </AutomaticThoughtDiaryEditComponent>

    <ThoughtReviewPopupComponent @ref="ThoughtReview" CognitiveErrors="cognitiveErrors">
    </ThoughtReviewPopupComponent>
}

@code {
    SfGrid<AutomaticThoughtDiaryRecordModel> DataGrid;

    AutomaticThoughtDiaryEditComponent EditableThought;
    ThoughtReviewPopupComponent ThoughtReview;

    private List<AutomaticThoughtDiaryRecordModel> items;
    private Dictionary<int, CognitiveErrorModel> cognitiveErrors;
    private Dictionary<int, string> emotions;

    private Dictionary<int, bool> reviewExists;

    protected override async Task OnInitializedAsync()
    {
        var currentUserId = await GetCurrentUserId();

        await InitShowButtons();

        items = await AutomaticThoughtsService.GetAllAutomaticThoughts(currentUserId);
        cognitiveErrors = CognitiveErrorsService.GetAllCognitiveErrors();
        emotions = await EmotionsService.GetAllEmotions();

        reviewExists = new Dictionary<int, bool>();
    }

    public void AddBtnClick()
    {
        EditableThought.Model = new AutomaticThoughtDiaryRecordModel(emotions);

        EditableThought.IsEdit = false;
        EditableThought.IsVisible = true;

        EditableThought.SuccessCallback = async () => await Refresh();
    }

    public async Task DeleteBtnClick(int id)
    {
        var confirmed = await SfDialogService.ConfirmAsync("Вы действительно хотите удалить запись?", "Подтверждение действия", new ()
        {
            ShowCloseIcon = true,
            PrimaryButtonOptions = new()
            {
                IconCss = "oi oi-trash"
            },
            CancelButtonOptions = new()
            {
                Content = "Отмена",
            }
        });

        if (confirmed)
        {
            await AutomaticThoughtsService.DeleteThought(id);
            await Refresh();
        }
    }

    public async Task EditBtnClick(int id)
    {
        var model = await AutomaticThoughtsService.GetAutomaticThought(id);
        if (model != null)
        {
            EditableThought.Model = model;
            EditableThought.IsEdit = true;
            EditableThought.IsVisible = true;
            EditableThought.SuccessCallback = async () => await Refresh();
        }
    }


    public async Task SendBtnClick(int id)
    {
        await AutomaticThoughtsService.SendThoughtToPsychologist(id);

        items.First(x => x.Id == id).Sent = true;
    }

    public async Task CheckReviewBtnClick(int id)
    {
        var reviews = await AutomaticThoughtsService.GetPsychologistReviews(id);
        if (reviews?.Any() ?? false)
        {
            ThoughtReview.Model = reviews;
            ThoughtReview.IsVisible = true;
            reviewExists[id] = true;
        }
        else
        {
            reviewExists[id] = false;
        }
    }

    private async Task Refresh()
    {
        var currentUserId = await GetCurrentUserId();

        items = await AutomaticThoughtsService.GetAllAutomaticThoughts(currentUserId);

        await InvokeAsync(StateHasChanged);
        await DataGrid.Refresh();
    }

    protected virtual async Task<string?> GetCurrentUserId()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var currentUserId = UserManager.GetUserId(user);

        return currentUserId;
    }

    protected virtual bool ReadOnly => _readOnly;

    private bool _readOnly;

    private async Task<bool> InitShowButtons() => _readOnly = await GetCurrentUserId() == null;
}