@using Microsoft.AspNetCore.Identity;

@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Buttons;

@using CBT.SharedComponents.Blazor.Model.Validators.Diaries;

@inject DiariesFacade AutomaticThoughtsService;
@inject BaseAuthenticationStateProvider GetAuthenticationStateAsync;
@inject UserManager<User> UserManager;

<Loading @ref="Loader" />

<SfDialog Width="500px" IsModal="true" @bind-Visible="@IsVisible" ShowCloseIcon="true" ID="EditThought" Header="@(IsEdit ? "Дополнить запись" : "Добавить запись")">
    <ChildContent>
        <EditForm Model="Model" OnValidSubmit="OnValidSubmit">
            <FluentValidationValidator TValidator="ThreeColumnsTechniqueRecordModelValidator" />
            <ValidationSummary />

            <div class="mb-4">
                <label for="thought" class="form-label fw-bold">Автоматическая мысль</label> <span class="oi oi-shield" id="shield"></span>
                <SfTooltip Position="Position.TopCenter" Target="#shield" Content="Вся личная информация, вносимая Вами на нашем сайте, защищена шифрованием и недоступна другим пользователям без вашего явного на то согласия.">
                </SfTooltip>
                <textarea @bind="Model.Thought" class="form-control" id="thought" aria-describedby="thoughtHelp"></textarea>
                <div id="thoughtHelp" class="form-text">Мы не предоставляем доступ к вашим записям другим пользователям.</div>
                <ValidationMessage For="@(() => Model.Thought)" />
            </div>
            <div class="mb-4">
                <label for="CognitiveErrors" class="form-label fw-bold">Когнитивные искажения</label>
                <SfMultiSelect ID="CognitiveErrors"
                               TValue="List<int>"
                               TItem="KeyValuePair<int, CognitiveErrorModel>"
                               DataSource="CognitiveErrors"
                               AllowFiltering="true"
                               ShowClearButton="true"
                               EnableCloseOnSelect="false"
                               MaximumSelectionLength="6"
                @bind-Value="@Model.Errors">
                    <MultiSelectFieldSettings Text="Value.Title" Value="Key">
                    </MultiSelectFieldSettings>
                </SfMultiSelect>
                <ValidationMessage For="@(() => Model.Errors)" />
            </div>
            <div class="mb-4">
                <label for="rational" class="form-label fw-bold">Рациональный ответ</label>
                <textarea @bind="Model.RationalAnswer" class="form-control" id="rational" aria-describedby="rationalHelp"></textarea>
                <div id="rationalHelp" class="form-text">Опровергните негативную мысль.</div>
                <ValidationMessage For="@(() => Model.RationalAnswer)" />
            </div>
            <div class="e-footer-content">
                <button class="btn btn-success" type="submit">@(IsEdit ? "Сохранить" : "Добавить")</button>
                <button class="btn btn-danger" @onclick="CloseBtnClick">Отмена</button>
            </div>
        </EditForm>
    </ChildContent>
</SfDialog>

@code {
    Loading Loader;

    private EditContext editContext;
    private ValidationMessageStore messageStore;

    [Parameter]
    public IEnumerable<KeyValuePair<int, CognitiveErrorModel>> CognitiveErrors { get; set; }

    public bool IsEdit { get; set; }

    public bool IsVisible { get; set; } = false;

    public ThreeColumnsTechniqueRecordModel Model { get; set; }

    public Action? SuccessCallback{ get; set; }


    protected override void OnInitialized()
    {
        Model = new ThreeColumnsTechniqueRecordModel();

        editContext = new EditContext(Model);
        messageStore = new(editContext);

        base.OnInitialized();
    }

    private void CloseBtnClick()
    {
        IsVisible = false;
    }

    private async Task OnValidSubmit()
    {
        await using var usage = new LoadingUsage(Loader);
        await usage.StartAsync();

        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var currentUserId = UserManager.GetUserId(user);

        if (IsEdit)
        {
            await AutomaticThoughtsService.EditThoughtFull(Model, currentUserId);
        }
        else
        {
            await AutomaticThoughtsService.AddThoughtFull(Model, currentUserId);
        }

        Model = new ThreeColumnsTechniqueRecordModel();

        if (SuccessCallback != null)
        {
            SuccessCallback();
        }

        IsVisible = false;
    }
}